<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <ul class="swiper-wrapper">
    <!-- Slides -->
    <li class="swiper-slide">
      <div class="card">
        <img src="https://picsum.photos/id/237/960/720" alt="Cute puppy" />
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    </li>
    <li class="swiper-slide">
      <img src="https://picsum.photos/id/237/960/720" alt="Cute puppy" />
      <p>Lorem ipsum dolor sit amet.</p>
      <div class="card"></div>
    </li>
    <li class="swiper-slide">
      <img src="https://picsum.photos/id/237/960/720" alt="Cute puppy" />
      <p>Lorem ipsum dolor sit amet.</p>
      <div class="card"></div>
    </li>
    <li class="swiper-slide">
      <img src="https://picsum.photos/id/237/960/720" alt="Cute puppy" />
      <p>Lorem ipsum dolor sit amet.</p>
      <div class="card"></div>
    </li>
    <li class="swiper-slide">
      <img src="https://picsum.photos/id/237/960/720" alt="Cute puppy" />
      <p>Lorem ipsum dolor sit amet.</p>
      <div class="card"></div>
    </li>
    <li class="swiper-slide">
      <img src="https://picsum.photos/id/237/960/720" alt="Cute puppy" />
      <p>Lorem ipsum dolor sit amet.</p>
      <div class="card"></div>
    </li>
    <li class="swiper-slide">
      <img src="https://picsum.photos/id/237/960/720" alt="Cute puppy" />
      <p>Lorem ipsum dolor sit amet.</p>
      <div class="card"></div>
    </li>
  </ul>

  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <!-- <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div> -->

  <!-- If we need scrollbar -->
  <!-- <div class="swiper-scrollbar"></div> -->
</div>
